################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CollectiblesV/obj/Debug
/CollectiblesV/.vs/CollectiblesV/v16
/CollectiblesV/.vs
/CollectiblesV/bin
/CollectiblesV/bin
*.pdb
/CollectiblesV/obj
*.pdb
*.dll
/.vs
*.dll
*.pdb
/CollectiblesV/bin
CollectiblesV/bin/Debug/CollectiblesV.dll
CollectiblesV/bin/Debug/CollectiblesV.pdb
/CollectiblesV/bin/Debug/CollectiblesV.dll
/CollectiblesV/bin/Debug/CollectiblesV.pdb
